// size - large
$button-large-height: 88rpx !default;
$button-large-font-size:$font-size-5 !default;
$button-large-padding: 0 44rpx !default;
// size - default
$button-default-height: 80rpx !default;
$button-default-font-size: $font-size-4  !default;
$button-default-padding: 0 36rpx !default;
// size - small
$button-small-height: 64rpx !default;
$button-small-font-size: $font-size-2  !default;
$button-small-padding: 0 16rpx !default;

$button-border-width: 1px !default;


.k-button {
    position: relative;
    display: inline-block;
    width: auto;
    flex-shrink: 0;
    height: $button-default-height;
    border-radius: 10rpx;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $button-default-font-size;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
    appearance: none;
    user-select: none;
    touch-action: manipulation;
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  
    .text {
      margin-left: 5px;
    }
  
    .iconfont-loading {
      display: inline-block;
      animation: rotation 1s infinite linear;
    }
  
    &__warp {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &--loading,
    &--disabled {
      &::before {
        display: none;
      }
    }
  
    // 主要按钮
    &--primary {
      /*  #ifdef  MP-WEIXIN */
      background-color: $k-mp-primary-color;
      /*  #endif  */
  
      color: #fff;
      border: $button-border-width solid transparent;
  
      /*  #ifdef  H5  */
      background-color: $k-h-primary-color;
      /*  #endif  */
  
      &:active {
        /*  #ifdef  MP-WEIXIN */
        background-color: $base-color1-Brand-7;
        /*  #endif  */
  
        /*  #ifdef  H5  */
        background-color: $base-color2-Brand-7;
        /*  #endif  */
      }
  
      &.k-button--disabled {
        cursor: not-allowed;
        /*  #ifdef  MP-WEIXIN */
        background-color: $mp-button-disabled;
        /*  #endif  */
  
        /*  #ifdef  H5  */
        background-color: $h-button-disabled;
        /*  #endif  */
      }
  
    }
  
    // 次要按钮
    &--plain {
      background: #fff;
  
      &.k-button--primary {
        /*  #ifdef  MP-WEIXIN */
        color: $k-mp-primary-color;
        border-color: $k-mp-primary-color;
        /*  #endif  */
  
        /*  #ifdef  H5 */
        color: $k-h-primary-color;
        border-color: $k-h-primary-color;
        /*  #endif  */
  
        &:active {
          background: #fff;
  
          /*  #ifdef  MP-WEIXIN */
          color: $base-color1-Brand-7;
          border-color: $base-color1-Brand-7;
          /*  #endif  */
  
          /*  #ifdef  H5  */
          color: $base-color2-Brand-7;
          border-color: $base-color2-Brand-7;
          /*  #endif  */
        }
  
        &.k-button--disabled {
          cursor: not-allowed;
          /*  #ifdef  MP-WEIXIN */
          background: #fff;
          color: $base-color1-Brand-3;
          border-color: $base-color1-Brand-3;
          /*  #endif  */
  
          /*  #ifdef  H5  */
          background: #fff;
          color: $base-color2-Brand-3;
          border-color: $base-color2-Brand-3;
  
          /*  #endif  */
        }
      }
  
    }
  
    // 弱按钮
    &--default {
      color: $neutral-color-text-main;
      background: #fff;
      border: $button-border-width solid $neutral-color-cut-border;
  
      &.k-button--disabled {
        cursor: not-allowed;
        color: $neutral-color-text-place ;
        border-color: $neutral-color-cut-border;
      }
    }
  
    &--large {
      height: $button-large-height;
      padding: $button-large-padding;
      font-size: $button-large-font-size;
    }
  
    &--normal {
      padding: $button-default-padding;
      font-size: $button-default-font-size;
    }
  
    &--small {
      height: $button-small-height;
      padding: $button-small-padding;
      font-size: $button-small-font-size;
    }
  
    &--block {
      display: block;
      width: 100%;
    }
  
  
    &--loading {
      cursor: default;
      opacity: 0.9;
    }
  
    &--round {
      border-radius: 100rpx;
    }
  
    &--square {
      border-radius: 0;
    }
  }
  
  @keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }