@font-face {
  font-family: "iconfont"; /* Project id 3286519 */
  src: url('iconfont.woff2?t=1663576913518') format('woff2'),
       url('iconfont.woff?t=1663576913518') format('woff'),
       url('iconfont.ttf?t=1663576913518') format('truetype'),
       url('iconfont.svg?t=1663576913518#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanfuguanbi:before {
  content: "\e69b";
}

.icon-a-48pxtianjiakehu:before {
  content: "\e69a";
}

.icon-a-48pxguanbi:before {
  content: "\e695";
}

.icon-a-48pxjia:before {
  content: "\e696";
}

.icon-a-48pxjian:before {
  content: "\e697";
}

.icon-a-48pxshaixuan:before {
  content: "\e698";
}

.icon-a-48pxbianji:before {
  content: "\e699";
}

.icon-a-32pxjiantou-you:before {
  content: "\e691";
}

.icon-a-32pxjiantou-shang:before {
  content: "\e692";
}

.icon-a-32pxjiantou-xia:before {
  content: "\e693";
}

.icon-a-32pxjiantou-zuo:before {
  content: "\e694";
}

.icon-a-48pxdaohang:before {
  content: "\e68f";
}

.icon-a-48pxdianhua:before {
  content: "\e690";
}

.icon-a-32pxbianji:before {
  content: "\e689";
}

.icon-a-32pxerweima:before {
  content: "\e68a";
}

.icon-a-32pxdianhua1:before {
  content: "\e68b";
}

.icon-a-32pxriqi:before {
  content: "\e68c";
}

.icon-a-32pxsousuo:before {
  content: "\e68d";
}

.icon-a-32pxweixin:before {
  content: "\e68e";
}

.icon-a-48pxchenggong:before {
  content: "\e686";
}

.icon-a-48pxshibai:before {
  content: "\e687";
}

.icon-a-48pxtixing:before {
  content: "\e688";
}

.icon-a-32pxdaohang:before {
  content: "\e681";
}

.icon-a-32pxdianhua:before {
  content: "\e682";
}

.icon-a-32pxgengduo:before {
  content: "\e683";
}

.icon-a-32pxwenhao:before {
  content: "\e684";
}

.icon-a-32pxtishi:before {
  content: "\e685";
}

.icon-a-24pxlianjie:before {
  content: "\e67f";
}

.icon-a-24pxxiaochengxu:before {
  content: "\e680";
}

.icon-a-24pxjiantou-zuo:before {
  content: "\e67c";
}

.icon-a-24pxjiantou-shang:before {
  content: "\e67d";
}

.icon-a-24pxjiantou-xia:before {
  content: "\e67e";
}

.icon-a-24pxjiantou-you:before {
  content: "\e67b";
}

.icon-a-32pxqingchu:before {
  content: "\e67a";
}

.icon-daibanoff:before {
  content: "\e670";
}

.icon-daibanon:before {
  content: "\e671";
}

.icon-gongzuotaioff:before {
  content: "\e672";
}

.icon-kaquanon:before {
  content: "\e673";
}

.icon-shouyeoff:before {
  content: "\e674";
}

.icon-kehuon:before {
  content: "\e675";
}

.icon-gongzuotaion:before {
  content: "\e676";
}

.icon-kehuoff:before {
  content: "\e677";
}

.icon-shouyeon:before {
  content: "\e678";
}

.icon-kaquanoff:before {
  content: "\e679";
}

.icon-bangzhushouce:before {
  content: "\e668";
}

.icon-notice:before {
  content: "\e663";
}

.icon-kesuofang_successful:before {
  content: "\e63b";
}

.icon-kesuofang_alarm:before {
  content: "\e645";
}

.icon-kesuofang_error:before {
  content: "\e646";
}

.icon-kesuofang_emergency:before {
  content: "\e649";
}

.icon-kesuofang_remind:before {
  content: "\e64c";
}

.icon-a-12_arrows_right:before {
  content: "\e62c";
}

.icon-a-12_arrows_up:before {
  content: "\e62d";
}

.icon-a-12_arrows_down:before {
  content: "\e62e";
}

.icon-a-12_arrows_left:before {
  content: "\e62f";
}

.icon-a-16_close:before {
  content: "\e630";
}

.icon-a-16_navigation:before {
  content: "\e631";
}

.icon-a-16_call:before {
  content: "\e632";
}

.icon-a-16_more1:before {
  content: "\e633";
}

.icon-a-16_minus:before {
  content: "\e634";
}

.icon-a-16_add:before {
  content: "\e635";
}

.icon-a-16_more2:before {
  content: "\e636";
}

.icon-a-16_navigation1:before {
  content: "\e637";
}

.icon-a-16_search:before {
  content: "\e638";
}

.icon-a-16_call1:before {
  content: "\e639";
}

.icon-a-24_close:before {
  content: "\e63a";
}

.icon-a-24_picture:before {
  content: "\e63c";
}

.icon-a-24_friends:before {
  content: "\e63d";
}

.icon-a-24_call:before {
  content: "\e63f";
}

.icon-a-24_more1:before {
  content: "\e640";
}

.icon-a-24_navigation:before {
  content: "\e641";
}

.icon-a-24_my:before {
  content: "\e642";
}

.icon-a-24_gotothe:before {
  content: "\e643";
}

.icon-a-24_home:before {
  content: "\e644";
}

.icon-a-24_more2:before {
  content: "\e647";
}

.icon-a-24_location:before {
  content: "\e648";
}

.icon-a-24_screening:before {
  content: "\e64a";
}

.icon-a-24_successful:before {
  content: "\e64b";
}

.icon-a-24_Qrcode:before {
  content: "\e64e";
}

.icon-a-24_screen:before {
  content: "\e650";
}

.icon-a-32_gongzuotai-yixuan:before {
  content: "\e651";
}

.icon-a-32_wode-yixuan:before {
  content: "\e652";
}

.icon-a-32_youhuiquan-yixuan:before {
  content: "\e653";
}

.icon-a-32_youhuiquan:before {
  content: "\e656";
}

.icon-a-24_back:before {
  content: "\e659";
}

.icon-a-24_loading3fanbai:before {
  content: "\e65a";
}

.icon-a-24_scan:before {
  content: "\e65b";
}

.icon-a-24_loading3:before {
  content: "\e65c";
}

.icon-a-48_error:before {
  content: "\e65d";
}

.icon-a-48_successful:before {
  content: "\e65e";
}

.icon-a-48_loading:before {
  content: "\e65f";
}

